/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/app.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../sass/app.scss */
.login-container {
  padding: 10px;
  background-color: rgba(250, 250, 250, 0.9);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../sass/app.scss */
.login-container input {
  color: rgba(10, 10, 10, 0.7);
}
/* line 24, ../sass/app.scss */
.login-container small {
  color: rgba(10, 10, 10, 0.7);
}

/* line 29, ../sass/app.scss */
.login-button {
  margin: 10px;
  width: 30%;
}

/* line 34, ../sass/app.scss */
.login-error {
  margin: 10px;
  color: #ff5252;
}

/* line 39, ../sass/app.scss */
.hidden {
  display: none;
}

/* line 43, ../sass/app.scss */
section {
  width: 100%;
  height: 100%;
  background-image: url(../../resources/img/stardust.png);
  flex: 1;
}

/* line 52, ../sass/app.scss */
nav {
  margin-bottom: 20px;
}

/* line 56, ../sass/app.scss */
#grade-table {
  width: 100%;
}

/* line 60, ../sass/app.scss */
.file-upload {
  margin-bottom: 20px;
  background-color: rgba(250, 250, 250, 0.9);
  font-size: 18pt;
}

/* line 67, ../sass/app.scss */
.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* line 73, ../sass/app.scss */
.is-active {
  background-color: #c0392b;
}

/* line 77, ../sass/app.scss */
.fullwidth {
  width: 100%;
}

/* line 81, ../sass/app.scss */
.lab-selector {
  width: 100px;
}

/* line 85, ../sass/app.scss */
.element-with-margin {
  margin-bottom: 10px;
}

/* line 89, ../sass/app.scss */
.fixed-add-button {
  position: fixed;
  z-index: 9;
  bottom: 20px;
  right: 13%;
}

/* The Modal (background) */
/* line 97, ../sass/app.scss */
.custom-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
/* line 111, ../sass/app.scss */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  /* Could be more or less, depending on screen size */
  text-align: center;
}

/* line 120, ../sass/app.scss */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
/* line 126, ../sass/app.scss */
.close :hover, .close :focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* line 133, ../sass/app.scss */
.edit-exercise:hover {
  cursor: pointer;
}

/* line 137, ../sass/app.scss */
.custom-chip {
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin: 5px;
}
/* line 148, ../sass/app.scss */
.custom-chip .material-icons {
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
}

/* line 158, ../sass/app.scss */
#grades-table-head .mdl-select {
  width: auto;
  padding: 0;
}
/* line 163, ../sass/app.scss */
#grades-table-head th {
  font-size: 16px;
}
/* line 166, ../sass/app.scss */
#grades-table-head th select {
  padding: 0;
}

/* line 172, ../sass/app.scss */
.mdl-textfield--floating-label.is-filled .mdl-textfield__label {
  color: #4caf50;
  font-size: 12px;
  top: 4px;
  visibility: visible;
}

/* line 180, ../sass/app.scss */
.mdl-dialog__actions {
  padding: 8px;
}
/* line 183, ../sass/app.scss */
.mdl-dialog__actions .btn-cancel {
  color: #CA1717;
}

/* line 188, ../sass/app.scss */
.demo-avatar {
  display: inline-block;
}

@media (max-width: 700px) {
  /* line 193, ../sass/app.scss */
  .login-container {
    width: 100%;
  }
}
@media (max-width: 500px) {
  /* line 199, ../sass/app.scss */
  .modal-content {
    width: 100%;
  }
}
/* line 206, ../sass/app.scss */
.delete-column {
  text-align: center !important;
}
/* line 207, ../sass/app.scss */
.delete-column .delete-student {
  color: #CA1717;
  font-size: 12px;
}
/* line 211, ../sass/app.scss */
.delete-column .delete-student:hover {
  cursor: pointer;
}

/* line 219, ../sass/app.scss */
.btn-search {
  padding-top: 3px;
  padding-bottom: 0;
}

/* line 224, ../sass/app.scss */
.awesomplete {
  display: block !important;
}

/* line 228, ../sass/app.scss */
#delete-edit {
  color: #444444;
}
