
.login-container {

  padding: 10px;

  background-color: rgba(250, 250, 250, 0.9);
  width: 50%;

  margin-left: auto;
  margin-right: auto;
}

.login-container input {
  color: rgba(10, 10, 10, 0.7);
}

.login-container small {
  color: rgba(10, 10, 10, 0.7);
}

.login-button {
  margin: 10px;
  width: 30%;
}

.login-error {
  margin: 10px;
  color: rgb(255, 82, 82);
}

.hidden {
  display: none;
}

section {
  width: 100%;
  height: 100%;

  /*background-image: url(../resources/img/stardust.png);*/

  flex: 1;
}

nav {
  margin-bottom: 20px;
}

#grade-table {
  /*background-color: rgba(250, 250, 250, 0.9);*/
  width: 100%;
}

.file-upload {
  margin-bottom: 20px;
  background-color: rgba(250, 250, 250, 0.9);

  font-size: 18pt;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.is-active {
  background-color: #c0392b;
}

.fullwidth {
  width: 100%;
}

.lab-selector {
  width: 100px;
}

.element-with-margin {
  margin-bottom: 10px;
}

.fixed-add-button {
  position: fixed;
  z-index: 9;
  bottom: 20px;
  right: 13%;
}

/* The Modal (background) */
.custom-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}